:root {
  --slide-debug: 0;
  --slide-aspect-ratio: 1.5;
  --sliding-duration: calc(500ms + 2000ms * var(--slide-debug, 0));
  --fragment-duration: calc(300ms + 1200ms * var(--slide-debug, 0));
  --slide-font-size: 5;
  font-family: system-ui, sans-serif;
}

[role="progressbar"] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: .5rem;
  z-index: 150;
  --progress: 0;
  background-image: linear-gradient(to right, #f60 var(--progress), transparent 0);
}

p-deck:not([mode]),
p-deck[mode="presentation"] {
  transition: background-color var(--sliding-duration) var(--sliding-duration);
  background-color: var(--current-slide-bg, transparent);
}

p-deck[mode="speaker"] p-fragment {
  opacity: 1;
}

button {
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: .25em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  font-size: 3rem;
}

nav {
  position: fixed;
  bottom: .5rem;
  right: 0;
  display: flex;
}
nav button {
  position: relative;
}
nav button:disabled {
  cursor: default;
  opacity: .5;
}
nav button::before,
nav button::after {
  content: "";
  position: absolute;
  top: .45em;
  left: .45em;
  width: .707em;
  height: .1em;
  background: gray;
  transform-origin: .05em .05em;
}
.previous::before {
  transform: rotate(45deg);
}
.previous::after {
  transform: rotate(-45deg);
}
.next::before {
  transform: rotate(135deg);
}
.next::after {
  transform: rotate(-135deg);
}

[role="toolbar"] {
  position: fixed;
  bottom: .5rem;
  left: 0;
  display: flex;
  flex-direction: column
}
[role="toolbar"] button {
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .5;
  transition: opacity 300ms;
}
[role="toolbar"] button:hover {
  opacity: 1;
}

.fullscreen {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><path stroke-width="0.1" stroke="gray" fill="none" d="M.05 .3v-.25h.25M.7 .05h.25v.25M.95 .7v.25h-.25M.3 .95h-.25v-.25"/></svg>');
}
:fullscreen .fullscreen {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><path stroke-width="0.1" stroke="gray" fill="none" d="M.05 .3h.25v-.25M.7 .05v.25h.25M.95 .7h-.25v.25M.3 .95v-.25h-.25"/></svg>');
}

.toggle-mode {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><path stroke-width="0.1" stroke="gray" fill="none" d="M.05 .5h.6v-.45h-.6v.9h.6v-.45M.75 .05h.25M.75 .2h.25M.75 .35h.25"/></svg>');
}
