@media print {
	@page {
		size: a4 landscape;
		margin-block: max((21cm - 29.4cm / var(--slide-aspect-ratio, 1.77777)) / 2, 0);
		margin-inline: max((29.4cm - 21cm * var(--slide-aspect-ratio, 1.77777)) / 2, 0);
	}

	p-deck {
		position: static;
		display: block;
		overflow: visible;
	}
	/* Specificity trick */
	p-slide:not(#a#b) {
		animation: none;
		content-visibility: visible;
		break-inside: avoid;

		&:not(:last-of-type) {
			break-after: page;
		}
	}

	:is(p-fragment, [p-fragment]):not(#a#b) {
		transition-duration: 0s;
		transition-delay: 0s;
		&:not([p-effect]) {
			opacity: initial;
		}
	}

	[p-effect]:not(#a#b) {
		--fragment-progress: 1;

		&[p-initially-visible] {
			--fragment-progress: 0;
		}
	}
}
